*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

h1,h2,h3{
    color: #004765;
}

nav{
    background: #ff9e16;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #004765;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #fff;
}
li a:hover{
    background-color: #004765;
    transition: 1s;
    color: #fff;
}
li a:active{
    background-color: #004765;
    color: #fff;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

#map{
    height: 80vh;
    width: 80%;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.categorias .body p{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.index-flex1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .index-flex1 img {
    max-width: 100%;
  }

p{
    width: 80%;
    line-height: 25px;
}

.google-btn {
    background-color: #004765;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
}
.google-btn:hover {
    background-color: #00364d;
}

#google-maps{
    background-color: #004765;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

.yellow-bg{
    background-color: #ff9e16;
    color: #004765;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

h1 {
	font-size: 50px;
	padding: 30px 10px;
}
h2 {
	padding: 10px;
	font-size: 30px;
}

#google-maps {
	margin: 5px 15px;
}
.google-btn {
	margin: 5px 15px;
}

/* Footer */
footer {
    background-color: #ffaa32;
    padding: 20px;
  }
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
.column {
    flex: 1;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  
.column h3 {
    margin-top: 0;
  }
  
.column ul {
    list-style: none;
    padding: 0;
  }
  
.column ul li {
    margin-bottom: 10px;
  }
  
.column ul li a {
    color: #004765;
    text-decoration: none;
  }

.column ul li a:hover {
    transition: 1s;
    color: #fff;
  }
  
@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  }
  
/* -- */
.presentacion .body img{
    margin: 15px 0px;
}

.enlaces h3{
    margin: 20px;
}

.enlaces h3 a{
    word-wrap: break-word;
}

.detalle h3,li{
    margin: 20px;
}

/* Animaciones en logo */
.animated-logo {
    width: 100%;
    object-fit: contain;
    transition-property: transform, filter;
    transition-duration: 0.7s;
  }
  
.animated-logo:hover {
    transform: scale(1.1);
    filter: brightness(70%);
    box-shadow: 0 0 10px #dcffff, 0 0 20px #a6bdc7, 0 0 30px #004765;
  }
/* -- */

/* Index clip-path */
.gallery {
    display: inline-block;
    margin: 5%;
  }
  
  .image-wrapper {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    transition: transform 0.3s;
    display: inline-block;
    margin-right: 20px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: clip-path 0.3s;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  
  .image-wrapper:hover {
    transform: translateX(10px);
  }

  footer img{
    max-width: 100%;
    overflow: hidden;
  }
/* -- */

/* Imágenes miniatura en categorías */
.thumbnail {
    height: 70px;
    margin-right: 10px;
  }
/* -- */

/* Imágenes en páginas Detalles */
.image-wrapper-d {
  width: 300px;
  height: 200px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
}

.image-wrapper-d img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .image-wrapper-d {
    width: 100%;
    height: auto;
  }}
/* -- */

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ff9e16;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: #004765;
        color: #fff;
    }
    #check:checked ~ ul{
        left:0;
    }
    #map{
        height: 80vh;
        width: 100%;
    }
    #google-maps {
        margin: 5px 15px;
        display: block;
    }
    .google-btn {
        margin: 5px 15px;
        display: block;
    }
    .presentacion h1 {
        font-size: 20px;
        margin: 5px;
      }
}

